// src/components/TodoItem/TodoItem.scss
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--light-grayish-blue);
    cursor: pointer;

    &.completed {
        text-decoration: line-through;
        color: var(--dark-grayish-blue);
    }

    div {
        flex: 1;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        color: var(--dark-grayish-blue);
    }
}
