// src/components/TodoItem/TodoItem.scss
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--light-border);
    background: var(--light-input-bg);
    color: var(--light-text);
  
    input[type='checkbox'] {
      margin-right: 1rem;
    }
  
    button {
      background: none;
      border: none;
      cursor: pointer;
      color: red;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    &.completed span {
      text-decoration: line-through;
      color: var(--light-hover);
    }
  }
  
  body.dark-mode .todo-item {
    border-bottom: 1px solid var(--dark-border);
    background: var(--dark-input-bg);
    color: var(--dark-text);
  
    &.completed span {
      color: var(--dark-hover);
    }
  }
  