// src/components/TodoList/TodoList.scss
.todo-list-container {
    background: var(--bg-color);
    border-radius: 10px;
    border: 1px solid rgb(51, 53, 201);
    box-shadow: 0 0 500px rgba(5, 4, 4, 0.1);
    margin: 2rem 0;
    padding: 2rem;
  
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;

    &.completed {
        text-decoration: line-through;
        color: gray;
    }

    button {
        background-color: aliceblue;
        cursor: pointer;
        color: rgb(138, 16, 16);
        font-size: medium;
        font-weight: bold;
    }
}
