// src/components/Header/Header.scss
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: var(--light-text);
    background-color:blueviolet;
  height: 20vh;
    h1 {
      font-size: 2rem;
      font-weight: 700;
      margin: 0;
    }
  
    .theme-toggle {
      background: none;
      border: none;
      cursor: pointer;
      font-size: larger;
      border-radius: 3px;
  
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  
  body.dark-mode .header {
    color: var(--dark-text);

    
  }
  