// src/components/Header/Header.scss
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: var(--light-text);
  height: 20vh;
  background-size: cover;
  background-image: url(../../images/bg-desktop-light.jpg);
  width: 93%;
    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin: 0 auto;
      
    }
  
    .theme-toggle {
      background: none;
      border: none;
      cursor: pointer;
      font-size: larger;
      border-radius: 3px;
      
  
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  
  body.dark-mode .header {
    color: var(--dark-text);

    
  }
  