// src/App.scss


body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s;
}

.app {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dark-mode {
    --bg-color: hsl(235, 21%, 11%);
    --text-color: hsl(234, 39%, 85%);
}

.light-mode {
    --bg-color: hsl(0, 0%, 98%);
    --text-color: hsl(235, 19%, 35%);
}
